/* .Contact-container {
  padding: 150px;
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
}

.Contact-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.Contact-subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

 */

.Contact-container {
  padding: 6.9rem;
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
}

.Contact-title {
  font-size: 2vw; /* Adjusts font size based on viewport width */
  margin-bottom: 0.5vw;
}

.Contact-subtitle {
  font-size: 1vw; /* Adjusts font size based on viewport width */
  margin-bottom: 5vw;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-form label {
  width: 100%;
  margin-bottom: 1.5vw;
}

.Contact-form input,
.Contact-form textarea {
  width: 50%; 
  padding: 1vw;
  margin-top: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1vw;
}

.Contact-form button {
  padding: 1vw 2vw;
  background-color: #2c2c2c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Contact-form button:hover {
  background-color: #3c3c3c;
}

/* Media Queries */
@media (max-width: 1400px) {
  .Contact-container {
    padding: 5% 3%;
  }

  .Contact-title {
    font-size: 8vw;
    margin-bottom: 3vw;
  }

  .Contact-subtitle {
    font-size: 4vw;
    margin-bottom: 6vw;
  }

  .Contact-form input,
  .Contact-form textarea {
    font-size: 3vw;
  }

  .Contact-form button {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .Contact-container {
    padding: 4% 2%;
  }

  .Contact-title {
    font-size: 10vw;
    margin-bottom: 4vw;
  }

  .Contact-subtitle {
    font-size: 5vw;
    margin-bottom: 7vw;
  }

  .Contact-form input,
  .Contact-form textarea {
    font-size: 4vw;
  }

  .Contact-form button {
    font-size: 5vw;
  }
}
