/* html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
} */



/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    width: 99%;
    align-items: flex-start;
    padding: 10px;
  }

  .logo-text {
    margin-bottom: 10px;
    font-size: 20px;
  }

  nav ul {
    flex-direction: row;
    width: 5%;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .logo-text {
    font-size: 18px;
  }

  nav ul li a {
    font-size: 12px;
  }
}
